#pointer1 {
	display:inline-block;
	white-space: nowrap;
	
	min-width: 80px;
	height: 60px;
	position: relative;
	background: #FFCC80;
}

#pointer1:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid white;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}

#pointer1:before {
	content: "";
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FFCC80;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}



#pointer2 {
	display:inline-block;
	white-space: nowrap;
	
	min-width: 80px;
	height: 60px;
	position: relative;
	background: #FFB74D;
}

#pointer2:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FFCC80;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}

#pointer2:before {
	content: "";
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FFB74D;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}


#pointer3 {
	display:inline-block;
	white-space: nowrap;
	
	min-width: 80px;
	height: 60px;
	position: relative;
	background: #FFA726;
}

#pointer3:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FFB74D;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}

#pointer3:before {
	content: "";
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FFA726;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}


#pointer4 {
	display:inline-block;
	white-space: nowrap;
	
	min-width: 80px;
	height: 60px;
	position: relative;
	background: #FF9800;
}

#pointer4:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FFA726;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}

#pointer4:before {
	content: "";
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FF9800;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}


#pointer5 {
	display:inline-block;
	white-space: nowrap;
	
	min-width: 80px;
	height: 60px;
	position: relative;
	background: #FB8C00;
}

#pointer5:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FF9800;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}

#pointer5:before {
	content: "";
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FB8C00;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}


#pointer6 {
	display:inline-block;
	white-space: nowrap;
	
	min-width: 80px;
	height: 60px;
	position: relative;
	background: #F57C00;
}

#pointer6:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #FB8C00;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}

#pointer6:before {
	content: "";
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #F57C00;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}


#pointer7 {
	display:inline-block;
	white-space: nowrap;
	
	min-width: 80px;
	height: 60px;
	position: relative;
	background: #EF6C00;
}

#pointer7:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #F57C00;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}

#pointer7:before {
	content: "";
	position: absolute;
	right: -30px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 30px solid #EF6C00;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
}