	<!-- 
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">CHiT! - CHaT! Pub</h1>
                <p>Talk about the place where you've got your job, house, and tips</p>
            </div>
        </div>
    </header>
 	-->
    <section class="old_pub" ng-controller="chitchatpubController"  data-ng-init="init()">
        <div class="container">
            <div class="row">
            	<div class="col-lg-8 col-lg-offset-2 text-center">
            		<div style="font-size: 64px;font-family: 'Times New Roman';color:white;">CHiT!-CHaT Pub
					</div>
				</div>
            	<div class="col-lg-4 text-center">
	            	<input id="pac-input" class="controls" type="text" placeholder="Search A Place">
	   				<div id="map"></div>
	                <!-- <input type="text" class="form-control">  -->
	                <div>
	                
	                <p id="searchedmapplace" style="margin-top:10px;">Search A Place First</p>
	                <textarea id="placecomment" name="placecomment"  rows="5" cols="" class="form-control"  placeholder="Chit! Chat! about this place!"></textarea>
	                <button class="btn btn-primary btn-block" type="button" ng-click="addComment()">CHiT! CHaT!</button>
                	</div>
                </div>  
            	<div class="col-lg-6 text-center">
            		<div id="list">
	                </div>
	                <button id="morebtn" class="btn btn-primary btn-block" type="button" ng-click="getChitChatpubList()">More</button>
            	</div>
            	<div class="col-lg-2 text-center">
            		<div class="well" style="width:100%;height:500px;">
            		Ads
            		</div>
            		<!-- 
	            	<p>Dreamer Ranking</p>
	                <div class="well">
		                <p>Ryan</p>
	                </div>
	                <div class="well">
		                <p>George</p>
	                </div>
	                 -->
            	</div>  
            </div>
        </div>
    </section>

