    <section class="old_worldmap" id="old_worldmap" ng-controller="treasuremapController" data-ng-init="init()">
   		<div class="container">
            <div class="row">
            	<div class="col-lg-12 text-center" >
	            	<h3 style="margin:10px;"><a href="#!treasuremap-ca" >Canada</a></h3>
	            	<h3 style="margin:10px;"><a href="#!treasuremap-au" >Australia</a></h3>
	            	<!-- 
	            	<a href="#!treasuremap-au" style="margin:10px;">Australia</a>
	            	<a href="#!treasuremap-ca" style="margin:10px;">Canada</a>
	            	<a href="#!treasuremap-ca" style="margin:10px;">Canada</a>
	            	<a ng-repeat="country in countrylist" href="#!treasuremap-{{country.code}}" style="margin:10px;">{{country.country}}</a>
            		 -->
            	</div>
            </div>
            <div class="row">	
            	<!--  
            	<div id="submenu" class="col-lg-2 text-center" >
					<div class="lptr_FFCC80" ng-click="roadmap_page = 1" style="cursor:pointer">
					<span style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">캐나다 워킹홀리데이</span>
					</div>
					<div class="lptr_FFB74D" ng-click="roadmap_page = 2" style="cursor:pointer" >
					<span style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">CIC 계정 만들기</span></div>
					<div class="lptr_FFA726" ng-click="roadmap_page = 3" style="cursor:pointer" ><span style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">프로파일 제출하기</span></div>
					<div class="lptr_FF9800" ng-click="roadmap_page = 4" style="cursor:pointer" ><span style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">인비테이션 수락하기</span></div>
					<div class="lptr_FB8C00" ng-click="roadmap_page = 5" style="cursor:pointer" ><span style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">신체검사 예약,정보</span></div>
					<div class="lptr_F57C00" ng-click="roadmap_page = 6" style="cursor:pointer" ><span style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">최종 합격</span></div>
					<div class="lptr_EF6C00" ng-click="roadmap_page = 7" style="cursor:pointer" ><span style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -50%);">지역 선정</span></div>
				
				</div>
				<div  class="col-lg-10 text-center" >
					<div ng-show="roadmap_page == 1" id="ca-wh-1" style="display:block;">
						<a href="" ng-click="item.anchor = ! item.anchor; saveTask('1', '워킹홀리세이란');" >
			                  	<span ng-hide="item.anchor" >
			                  		<i class="fas fa-anchor" style="color:Tomato;"></i>
			                  	</span>
			                  	<span ng-show="item.anchor" >
			                  		<i class="fas fa-anchor" style="color:#FFCC00;"></i>
			               	</span>
		                </a>
						워킹홀리세이란
					</div>
					<div ng-show="roadmap_page == 2" id="ca-wh-2" style="display:block;">
					<a href="" ng-click="item.anchor = ! item.anchor; saveTask('2', 'CIC 계정 만들기');" >
			                 	<span ng-hide="item.anchor" >
			                  		<i class="fas fa-anchor" style="color:Tomato;"></i>
			                  	</span>
			                  	<span ng-show="item.anchor" >
			                  		<i class="fas fa-anchor" style="color:#FFCC00;"></i>
			               	</span>
		                </a>
					CIC 계정 만들기
					</div>	
					<div ng-show="roadmap_page == 3" id="ca-wh-3" style="display:block;">
					프로파일 제출하기
					</div>
					<div ng-show="roadmap_page == 4" id="ca-wh-4" style="display:block;">
					인비테이션 수락하기
					</div>
					<div ng-show="roadmap_page == 5" id="ca-wh-5" style="display:block;">
					신체검사 예약,정보
					</div>
					<div ng-show="roadmap_page == 6" id="ca-wh-6" style="display:block;">
					최종 합격
					</div>
					<div ng-show="roadmap_page == 7" id="ca-wh-7" style="display:block;">
					지역 선정
					</div>
				</div>
				-->
				
				
				
				
            </div>
        </div>
    </section>


