    <div class="layer"></div>
    <section class="old_jp_map" id="old_jp_map" ng-controller="treasuremapCountryController" data-ng-init="init('jp')">
   		<div class="container">
            <div class="row">
            	<div ng-repeat="topic in topiclist" ng-click="getinfo('{{countrycode}}', '{{topic.name}}')" class="col-lg-3 text-center well" style="cursor:pointer; margin:20px; background-color:transparent;">
            		<h1>{{topic.name}}</h1>
            	</div>
            </div>
            <div class="row">
            	<div id="info" class="col-lg-12 text-center well" style="display:none;">
					<h1>VISA</h1>
            	</div>
            	<div ng-bind-html="listDiv"></div>
            </div>
        </div>
    </section>


