    <section id="signin" class="signin" ng-controller="userController" data-ng-init="init()" style="padding:75px 0 0 0;">
        <div class="container" ng-class="{ 'no-padding': isMobile }">
            <div class="row">
            	<div class="col-lg-4 col-lg-offset-4" >
            		<div class="text-center">
	            		<h3>Join Polarxy</h3>
	            		<span>Create an account to use Special Menu With Other Dreamers,</span>
	            		<span>Share your Dreams and Stories about Adventures Abroad.</span>
            		</div>
            		<div style="margin-top:40px;width:100%;">
	                	<div style="margin:10px 0px;width:100%;background-color:white;">
	                	<a href="/login/google" style="display: inline-block;width:100%; padding:5px; height: 32px;color:black; font-size:16px;">
						<div class='google_icon_16'></div>
						<span style="margin-left:5px;"> Sign in with Google</span>
						</a>
						</div>
						<div style="margin:10px 0px;width:100%;background-color:white;">
						<a href="/login/facebook" style="display: inline-block;width:100%; padding:5px; height: 32px;color:black; font-size:16px;">
						<div class='facebook_icon_16'></div>
						<span style="margin-left:5px;"> Sign in with Facebook</span>
						</a>
						</div>
						<div style="margin:10px 0px;width:100%;background-color:white;">
						<div onclick="$('#signinform').css('display','block');" style="padding:5px; height: 32px;color:black; font-size:16px;cursor:pointer;"
							onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">
						<div class='pf_icon_16'></div>
						<span style="margin-left:5px;"> Sign in with Polarxy</span>
						</div>
						</div>
	                	<form id="signinform" class="login-form" role="form" ng-submit="login()" style="display:none;">
						    <div class="input-group">
						    	<span class="input-group-addon" >Email</span>
						     	<input id="username" class="form-control" type="email" name="username" ng-model="credentials.username"/>
							</div>
							<div class="input-group">
						    	<span class="input-group-addon" >Password</span>
						    	<input id="password" class="form-control" type="password" name="password" ng-model="credentials.password"/>
						  	</div>
						  	<input class="btn btn-primary btn-block" type="submit" value="Sign in"/>
						</form>
	                </div>
	                <div class="text-center" style="margin-top:60px;">
	                	<div style="text-decoration: underline!important">Terms of Service</div>
	                	<div style="text-decoration: underline!important">Privacy Policy</div>
	                </div>
                </div>
            </div>
        </div>
    </section>
