
  <div class="content-wrapper" ng-controller="messageController" data-ng-init="init_compose()">
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
        	<span style="margin:10px;color:black;font-weight: bold;"><i class="far fa-share-square"></i> 쪽지 보내기</span>
        	<a href="#!pfa-message" style="margin:10px;color:gray;"><i class="fas fa-inbox"></i> 받은 쪽지함</a>
          	<a href="#!pfa-message-sent" style="margin:10px;color:gray;"><i class="far fa-envelope"></i> 보낸 쪽지함</a>
          	<a href="#!pfa-message-starred" style="margin:10px;color:gray;"><i class="far fa-star"></i> 중요 쪽지함</a>
        </div>
        
        <div class="row">
        	<div class="col-lg-3 well"> 
        		<div class="custom-scrollbar" style="white-space: nowrap;max-height:250px;height:100%;width:100%;overflow: scroll; padding:10px;"> 
	        		<div ng-repeat="item in data">
	        			<input type="checkbox" name="tocheckbox" ng-click="toCheckBox(item.following_user_id, item.user.username)">
	        			<span>{{item.user.username}}</span>
	        		</div>
        		</div>
        	</div>
        	<div class="col-lg-9 well">
	        	<div>New Message</div>
	        	<form id="sendform"  role="form" ng-submit="send()" >
				    <div class="input-group">
				     	<input id="to" class="form-control" type="text" name="to" placeholder="To..."/>
				    </div>	
				    <div class="input-group">
				     	<input id="subject" class="form-control" type="text" name="subject" placeholder="Subject... "/>
					</div>	
				    <div class="input-group">
				        <textarea id="content" name="content" class="form-control" rows="3" style="resize:none" placeholder="Content... "></textarea>     
					</div>	
				    <div class="input-group">
				      	<input class="btn btn-primary" type="submit" value="Send"/>
				  	</div>
				</form>
        	</div>
        </div>  
        
        
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
