
  <div class="content-wrapper" ng-controller="messageController" data-ng-init="init()">
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
        	<a href="#!pfa-message-compose" style="margin:10px;color:gray;"><i class="far fa-share-square"></i> 쪽지 보내기</a>
        	<span style="margin:10px;color:black;font-weight: bold;"><i class="fas fa-inbox"></i> 받은 쪽지함</span>
          	<a href="#!pfa-message-sent" style="margin:10px;color:gray;"><i class="far fa-envelope"></i> 보낸 쪽지함</a>
          	<a href="#!pfa-message-starred" style="margin:10px;color:gray;"><i class="far fa-star"></i> 중요 쪽지함</a>
        </div>
          
        <div class="card-body">
        <!-- 
        	<select ng-model="pageSize" id="pageSize" class="form-control">
		        <option value="5">5</option>
		        <option value="10">10</option>
		        <option value="15">15</option>
		        <option value="20">20</option>
		     </select>
		    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
		        Previous
		    </button>
		    {{currentPage+1}}/{{numberOfPages()}}
		    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
		        Next
		    </button>
		     -->
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
              <tbody>
                <tr ng-repeat="item in data" >
                  <td align="center" width="10%" style="padding: 5px;">
	                  <input type="checkbox" >
	                  <a href="" ng-click="item.star = ! item.star; updateStarred(item.id, item.star);" >
	                  	<span ng-hide="item.star" >
	                  		<i class="far fa-star" style="color:Tomato;"></i>
	                  	</span>
	                  	<span ng-show="item.star" >
	                  		<i class="fas fa-star" style="color:#FFCC00;"></i>
	                  	</span>
	                  </a>
                  </td>
                  <td width="15%" style="padding: 5px;">{{item.send_user.username}}</td>
                  <td width="50%" style="padding: 5px;">
	                  <a href="" ng-click="viewMessage(item.id);" >
	                  	{{item.subject}}
	                  </a>
                  </td>
                  <td align="center" width="20%" style="padding: 5px;">{{item.reg_dt | date : "yyyy-MM-dd HH:mm:ss" }}</td>
                  <td align="center" width="5%" style="padding: 5px;">{{item.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>