.hand-cursor {
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
	/*
    cursor: url(/images/icon/hand.png) 16 16, default !important;
    */
}
.hand-grab-cursor {
    cursor: url('/images/icon/hand-grab.png'), default !important;
}