.blog_content{
	margin: 5px -10px;
	padding: 5px 0px;
    background-color: white;
}
.old_newspaper{
	/*
	background-image: url(/img/back/old_newspaper2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	*/
}

.like_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/like_black_32.png');
}

.like_red_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/like_red_32.png');
}


.chat_black_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/chat_black_16.png');
}


.chat_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/chat_black_32.png');
}

.chat_red_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/chat_red_32.png');
}



.bookmark_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/label_black_32.png');
}

.bookmark_red_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/label_red_32.png');
}



.edit_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/edit_black_32.png');
}

.eraser_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/eraser_black_32.png');
}
