
.facebook_icon_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/facebook_icon_16.png');
}

.facebook_icon_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/facebook_icon_32.png');
}


.google_icon_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/google_icon_16.png');
}

.google_icon_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/google_icon_32.png');
}

.pf_icon_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/pf_icon_16.png');
}

.pf_icon_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/pf_icon_32.png');
}