.lptr_FFCC80 {
	white-space: nowrap;
	min-width: 80px;
	height: 40px;
	position: relative;
	background: #FFCC80;
}
/*
.lptr_FFCC80:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
*/
.lptr_FFCC80:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #FFCC80;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}



.lptr_FFB74D {
	white-space: nowrap;
	min-width: 80px;
	height: 40px;
	position: relative;
	background: #FFB74D;
}
/* #FFCC80
.lptr_FFB74D:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
*/
.lptr_FFB74D:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #FFB74D;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}


.lptr_FFA726 {
	white-space: nowrap;
	min-width: 80px;
	height: 40px;
	position: relative;
	background: #FFA726;
}
/*#FFB74D;
.lptr_FFA726:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
*/
.lptr_FFA726:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #FFA726;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}


.lptr_FF9800 {
	white-space: nowrap;
	min-width: 80px;
	height: 40px;
	position: relative;
	background: #FF9800;
}
/*#FFA726;
.lptr_FF9800:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
*/
.lptr_FF9800:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #FF9800;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}


.lptr_FB8C00 {
	white-space: nowrap;
	min-width: 80px;
	height: 40px;
	position: relative;
	background: #FB8C00;
}
/*#FF9800;
.lptr_FB8C00:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
*/
.lptr_FB8C00:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #FB8C00;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}


.lptr_F57C00 {
	white-space: nowrap;
	min-width: 80px;
	height: 40px;
	position: relative;
	background: #F57C00;
}
/*#FB8C00;
.lptr_F57C00:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
*/
.lptr_F57C00:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #F57C00;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}


.lptr_EF6C00 {
	white-space: nowrap;
	min-width: 80px;
	height: 40px;
	position: relative;
	background: #EF6C00;
}
/*#F57C00;
.lptr_EF6C00:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
*/
.lptr_EF6C00:before {
	content: "";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid #EF6C00;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}




