
.old_pub{
	padding:75px 0 0 0;
	/*
	background-image: url(/img/back/old_pub_image.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	*/
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	width: 100%;
	height: 300px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
	
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottm: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow:  none;
    /*
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    */
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}





.star_black_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/star_black_16.png');
}

.star_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/star_black_32.png');
}

.star_black_64 {
	height:64px;
	width:64px;
	display:inline-block;
    background-image: url('/img/icon/star_black_64.png');
}



.star_yellow_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/star_yellow_16.png');
}

.star_yellow_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/star_yellow_32.png');
}

.star_yellow_64 {
	height:64px;
	width:64px;
	display:inline-block;
    background-image: url('/img/icon/star_yellow_64.png');
}

