
.like_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/like_black_32.png');
}

.like_red_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/like_red_32.png');
}


.chat_black_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/chat_black_16.png');
}


.chat_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/chat_black_32.png');
}

.chat_red_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/chat_red_32.png');
}



.bookmark_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/label_black_32.png');
}

.bookmark_red_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/label_red_32.png');
}

.old_newspaper{
	background-image: url(/img/back/old_newspaper2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}


.edit_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/edit_black_32.png');
}

.eraser_black_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/eraser_black_32.png');
}

.facebook_icon_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/facebook_icon_16.png');
}

.facebook_icon_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/facebook_icon_32.png');
}


.google_icon_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/google_icon_16.png');
}

.google_icon_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/google_icon_32.png');
}

.pf_icon_16 {
	height:16px;
	width:16px;
	display:inline-block;
    background-image: url('/img/icon/pf_icon_16.png');
}

.pf_icon_32 {
	height:32px;
	width:32px;
	display:inline-block;
    background-image: url('/img/icon/pf_icon_32.png');
}